<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
<!--         inicio da configuracao para servidor de aplicacoes local
-->        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/reservas?autoReconnect=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!-- fim da configuracao para servidor de aplicacoes local-->
    
        <!-- inicio da configuracao para o openShift -->
        <!--        <property name="hibernate.connection.url">jdbc:mysql://127.4.25.130:3306/reservas?autoReconnect=true</property>
        <property name="hibernate.connection.username">adminsTRurCq</property>
        <property name="hibernate.connection.password">n-7DySC-Z4Gh</property>-->
        <!-- fim da configuracao para o openShift -->
        <!-- inicio da configuracao para o openShift -->
          
<!--        <property name="hibernate.connection.url">jdbc:mysql://127.5.203.130:3306/ufabc?autoReconnect=true</property>
        <property name="hibernate.connection.username">adminj9cHIjx</property>
        <property name="hibernate.connection.password">sfcvr9HnPsx7</property>-->
        <!-- fim da configuracao para o openShift -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- inmportant to specify c3p0 as your connection provider -->
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <!-- configuration for connection pool via c3p0 -->
        <property name="c3p0.min_size">3</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.max_statements">50</property>
        <property name="c3p0.timeout">14400</property>
        <property name="c3p0.idle_test_period">3600</property>
        <!-- end of the configuration of the c3p0 -->
        <mapping class="model.Docente"/>
        <mapping class="model.GrupoReserva"/>
        <mapping class="model.Servidor"/>
        <mapping class="model.Aluno"/>
        <mapping class="model.Centro"/>
        <mapping class="model.Sala"/>
        <mapping class="model.Operador"/>
        <mapping class="model.Equipamento"/>
        <mapping class="model.Pessoa"/>
        <mapping class="model.Recurso"/>
        <mapping class="model.Reserva"/>
        <mapping class="model.TA"/>
        <mapping class="model.Emprestimo"/>
        <mapping class="model.Usuario"/>
    </session-factory>
</hibernate-configuration>
